<table
  style="background-color:#fff;width:100%"
  width="100%"
  cellspacing="0"
  cellpadding="0"
  bgcolor="#fff;"
>
  <tbody>
    <tr>
      <td align="center">
        <table
          style="margin:0px auto;width:100%"
          width="100%"
          cellspacing="0"
          cellpadding="0"
          bgcolor="#fff;"
        >
          <tbody>
            <tr>
              <td align="center" style="width:100%;padding:0" width="100%">
                <table
                  width="100%"
                  cellspacing="0"
                  cellpadding="0"
                  border="0"
                  style="background:#fff;padding:20px 30px 20px 30px;width:100%"
                >
                  <tbody>
                    <tr>
                      <td align="left" style="padding:0 0">
                        <img
                          style="text-decoration:none;height:auto;border:0;width:100%;max-width:250px;display:block;margin:0"
                          title="logo"
                          alt="logo"
                          src="https://800bbattery.com/assets/images/800bbattery.png"
                          width="250"
                          border="0"
                          align="middle"
                          class="CToWUd"
                          data-bit="iit"
                        />
                      </td>
                      <td align="right" style="padding:0">
                        <p
                          style="color:#696666;font-family:'Roboto',Arial,Helvetica,sans-serif;font-size:15px;letter-spacing:0.5px;line-height:1.5;text-align:right;margin:0 0 2px"
                        >
                          800 BBattery</p>
                        <p
                          style="color:#696666;font-family:'Roboto',Arial,Helvetica,sans-serif;font-size:15px;letter-spacing:0.5px;line-height:1.6;text-align:right;margin:0 0 0"
                        >
                          Al Asayel Street - 160St Warehouse no. 2 - 318th Rd -
                          near Al Ahli Driving school - Al Quoz Industrial Area
                          3 - Dubai</p>
                        <p
                          style="color:#696666;font-family:'Roboto',Arial,Helvetica,sans-serif;font-size:15px;letter-spacing:0.5px;line-height:1.5;text-align:right;margin:0 0 0"
                        >
                          <a
                            href="mailto:support@800bbattery.com"
                            style="color:#696666;text-decoration:none"
                            target="_blank"
                          >support@800bbattery.com</a>
                        </p>
                        <p
                          style="color:#696666;font-family:'Roboto',Arial,Helvetica,sans-serif;font-size:15px;letter-spacing:0.5px;line-height:1.5;text-align:right;margin:0 0 0"
                        >
                          <a
                            href="tel:+971509344668"
                            style="color:#696666;text-decoration:none"
                            target="_blank"
                          >+971 50 934 4668</a>
                        </p>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </td>
            </tr>

            <tr>
              <td align="center" style="padding:0">
                <table
                  width="100%"
                  cellspacing="0"
                  cellpadding="0"
                  border="0"
                  style="background:#fff;padding:0px 0px 0"
                >
                  <tbody>
                    <tr>
                      <td align="center">
                        <img
                          src="https://800bbattery.com/assets/images/bar.png"
                          style="width:100%"
                          alt=""
                          class="CToWUd"
                          data-bit="iit"
                        />

                      </td>

                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td align="center" style="padding:0">
                <table
                  width="100%"
                  cellspacing="0"
                  cellpadding="0"
                  border="0"
                  style="background:#fff;padding:30px 20px 0"
                >
                  <tbody>
                    <tr>
                      <td align="center">
                        <h3
                          style="color:#000;font-family:'Roboto',Arial,Helvetica,sans-serif;font-size:25px;font-weight:600;letter-spacing:0.5px;line-height:1;text-align:center;margin:0 0 10px"
                        >
                          <strong>APPLICATION FORM</strong></h3>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td
                align="center"
                style="padding:0px 30px 30px 30px"
                bgcolor="#fff"
              >

                <table
                  width="100%"
                  cellspacing="0"
                  cellpadding="0"
                  border="1"
                  style="background:#fff;border-collapse:collapse"
                >
                  <tbody>

                    <tr>

                      <td
                        style="border-right:1px solid transparent;color:#000;font-family:'Roboto',Arial,Helvetica,sans-serif;border-collapse:collapse;font-size:14px;font-weight:600;letter-spacing:0.5px;line-height:1.5;text-align:left;padding:10px;margin:0 0 0"
                      >
                        Full Name</td>
                      <td
                        style="border-right:1px solid transparent;color:#000;font-family:'Roboto',Arial,Helvetica,sans-serif;border-collapse:collapse;font-size:14px;font-weight:600;letter-spacing:0.5px;line-height:1.5;text-align:left;padding:10px;margin:0 0 0"
                      >
                        :
                        {{name}}</td>
                      <td
                        style="color:#000;font-family:'Roboto',Arial,Helvetica,sans-serif;border-collapse:collapse;font-size:14px;font-weight:500;letter-spacing:0.5px;line-height:1.5;text-align:left;padding:10px;margin:0 0 0"
                      >
                      </td>
                    </tr>
                    <tr>

                      <td
                        style="border-right:1px solid transparent;color:#000;font-family:'Roboto',Arial,Helvetica,sans-serif;border-collapse:collapse;font-size:14px;font-weight:600;letter-spacing:0.5px;line-height:1.5;text-align:left;padding:10px;margin:0 0 0"
                      >
                        Email</td>
                      <td
                        style="border-right:1px solid transparent;color:#000;font-family:'Roboto',Arial,Helvetica,sans-serif;border-collapse:collapse;font-size:14px;font-weight:600;letter-spacing:0.5px;line-height:1.5;text-align:left;padding:10px;margin:0 0 0"
                      >
                        :
                        <a
                          href="mailto:mavaqinuxy@mailinator.com"
                          target="_blank"
                        >{{email}}</a></td>
                      <td
                        style="color:#000;font-family:'Roboto',Arial,Helvetica,sans-serif;border-collapse:collapse;font-size:14px;font-weight:500;letter-spacing:0.5px;line-height:1.5;text-align:left;padding:10px;margin:0 0 0"
                      >
                      </td>
                    </tr>
                    <tr>

                      <td
                        style="border-right:1px solid transparent;color:#000;font-family:'Roboto',Arial,Helvetica,sans-serif;border-collapse:collapse;font-size:14px;font-weight:600;letter-spacing:0.5px;line-height:1.5;text-align:left;padding:10px;margin:0 0 0"
                      >
                        Phone number</td>
                      <td
                        style="border-right:1px solid transparent;color:#000;font-family:'Roboto',Arial,Helvetica,sans-serif;border-collapse:collapse;font-size:14px;font-weight:600;letter-spacing:0.5px;line-height:1.5;text-align:left;padding:10px;margin:0 0 0"
                      >
                        :
                        {{phone}}</td>
                      <td
                        style="color:#000;font-family:'Roboto',Arial,Helvetica,sans-serif;border-collapse:collapse;font-size:14px;font-weight:500;letter-spacing:0.5px;line-height:1.5;text-align:left;padding:10px;margin:0 0 0"
                      >
                      </td>
                    </tr>
                    <tr>

                      <td
                        style="border-right:1px solid transparent;color:#000;font-family:'Roboto',Arial,Helvetica,sans-serif;border-collapse:collapse;font-size:14px;font-weight:600;letter-spacing:0.5px;line-height:1.5;text-align:left;padding:10px;margin:0 0 0"
                      >
                        Services</td>
                      <td
                        style="border-right:1px solid transparent;color:#000;font-family:'Roboto',Arial,Helvetica,sans-serif;border-collapse:collapse;font-size:14px;font-weight:600;letter-spacing:0.5px;line-height:1.5;text-align:left;padding:10px;margin:0 0 0"
                      >
                        :
                        {{service}}</td>
                      <td
                        style="color:#000;font-family:'Roboto',Arial,Helvetica,sans-serif;border-collapse:collapse;font-size:14px;font-weight:500;letter-spacing:0.5px;line-height:1.5;text-align:left;padding:10px;margin:0 0 0"
                      >
                      </td>
                    </tr>
                    <tr>

                      <td
                        style="border-right:1px solid transparent;color:#000;font-family:'Roboto',Arial,Helvetica,sans-serif;border-collapse:collapse;font-size:14px;font-weight:600;letter-spacing:0.5px;line-height:1.5;text-align:left;padding:10px;margin:0 0 0"
                      >
                        Message</td>
                      <td
                        style="border-right:1px solid transparent;color:#000;font-family:'Roboto',Arial,Helvetica,sans-serif;border-collapse:collapse;font-size:14px;font-weight:600;letter-spacing:0.5px;line-height:1.5;text-align:left;padding:10px;margin:0 0 0"
                      >
                        :
                        {{message}}</td>
                      <td
                        style="color:#000;font-family:'Roboto',Arial,Helvetica,sans-serif;border-collapse:collapse;font-size:14px;font-weight:500;letter-spacing:0.5px;line-height:1.5;text-align:left;padding:10px;margin:0 0 0"
                      >
                      </td>
                    </tr>
                  </tbody>

                </table>
              </td>
            </tr>

          </tbody>
        </table>
      </td>
    </tr>

  </tbody>
</table>